body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    resize: both;
    overflow: auto;
}

h1 {
    text-align: center;
    margin: 0;
    padding: 10px 0;
    font-size: 24px;
}

#stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.stat-item {
    text-align: center;
    flex: 1;
    margin: 0 5px;
}

.text-area {
    width: 100%;
    flex: 1;
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}

#inputContainer {
    margin: 0 20px; /* 设置左右空白距离 */
}

#inputText {
    height: 160px; /* 设置高度为160像素 */
    overflow-y: hidden; /* 隐藏滚动条 */
}

.flat-button {
    width: 30%;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s;
    box-shadow: none;
}

.flat-button:hover {
    background-color: #0056b3;
}

#displayText {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    flex: 1;
    white-space: pre-wrap;
    overflow-y: auto;
}

#controlButtons {
    display: flex;
    justify-content: space-between;
}

.resizable {
    position: relative;
    margin-bottom: 10px;
}

.resize-handle {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5px;
    cursor: row-resize;
    background: transparent;
}

.highlight {
    background-color: lightblue;
}

.error {
    background-color: lightcoral;
}
